In [1]:
import numpy as np
import datetime as dt
import pandas as pd
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

In [2]:
dataset = {
    "station_id": [],
    "base_timestamp": [],
    "t_inside": [],
    "t_near": [],
    "t_far": [],
    "n_inside": [],
    "n_near": [],
    "n_far": []
}
n_max = 10000
t_max = 300000
alpha_inside = 0.01
alpha_near = 0.2
alpha_far = 1

gen_rand = lambda x: np.random.randint(0, int(x))

for n_station in range(1,5):
    for n_day in range(1,32):
        for n_hour in range(0, 24):
            timestamp = dt.datetime(2018, 10, n_day, n_hour, 0,0).isoformat()
            
            dataset["station_id"].append(n_station)
            dataset["base_timestamp"].append(timestamp)
            dataset["t_inside"].append(gen_rand(t_max*alpha_inside))
            dataset["t_near"].append(gen_rand(t_max*alpha_near))
            dataset["t_far"].append(gen_rand(t_max*alpha_far))
            dataset["n_inside"].append(gen_rand(n_max*alpha_inside))
            dataset["n_near"].append(gen_rand(n_max*alpha_near))
            dataset["n_far"].append(gen_rand(n_max*alpha_far))

In [3]:
yes = pd.DataFrame(dataset)
yes

,base_timestamp,n_far,n_inside,n_near,station_id,t_far,t_inside,t_near
0,2018-10-01T00:00:00,2108,90,601,1,8966,318,30605
1,2018-10-01T01:00:00,7023,85,1473,1,104597,5,24360
2,2018-10-01T02:00:00,9688,47,1278,1,107442,2274,16444
3,2018-10-01T03:00:00,4830,92,1237,1,58351,1345,36586
4,2018-10-01T04:00:00,998,23,1117,1,139626,924,19390
5,2018-10-01T05:00:00,9197,58,805,1,13365,1090,17249
6,2018-10-01T06:00:00,5359,38,1000,1,165770,294,35298
7,2018-10-01T07:00:00,8171,0,1709,1,173255,124,15595
8,2018-10-01T08:00:00,3246,29,1833,1,39907,75,6685
9,2018-10-01T09:00:00,1964,20,1953,1,137239,2900,24253
10,2018-10-01T10:00:00,6345,19,1608,1,259633,951,42346
11,2018-10-01T11:00:00,705,49,1097,1,189407,132,14687
12,2018-10-01T12:00:00,1093,85,944,1,293708,1308,9509
13,2018-10-01T13:00:00,5945,26,803,1,161870,2055,51324
14,2018-10-01T14:00:00,1787,62,769,1,130349,86,56094
15,2018-10-01T15:00:00,4019,92,448,1,184512,2900,3753
16,2018-10-01T16:00:00,3712,42,1149,1,5760,2398,33378
17,2018-10-01T17:00:00,1811,36,1176,1,186889,2152,57860
18,2018-10-01T18:00:00,6205,84,63,1,142240,1050,53082
19,2018-10-01T19:00:00,6331,58,630,1,159909,1980,13898
20,2018-10-01T20:00:00,1153,28,806,1,292892,943,32526
21,2018-10-01T21:00:00,2200,78,1289,1,170632,2544,33442
22,2018-10-01T22:00:00,7476,72,1882,1,277414,586,43600
23,2018-10-01T23:00:00,3480,79,1137,1,220859,1300,58177
24,2018-10-02T00:00:00,8250,88,62,1,75,2261,58074
25,2018-10-02T01:00:00,4323,96,485,1,196581,489,4
26,2018-10-02T02:00:00,282,26,1849,1,22209,1012,21342
27,2018-10-02T03:00:00,2577,90,1169,1,154754,919,13299
28,2018-10-02T04:00:00,5567,8,219,1,17625,1642,7218
29,2018-10-02T05:00:00,8799,80,1938,1,270914,1984,40447
...,...,...,...,...,...,...,...,...
2946,2018-10-30T18:00:00,1304,94,351,4,58784,1616,779
2947,2018-10-30T19:00:00,6452,60,1290,4,60281,1476,41975
2948,2018-10-30T20:00:00,1607,42,613,4,253730,2440,38055
2949,2018-10-30T21:00:00,3571,72,869,4,277189,502,11288
2950,2018-10-30T22:00:00,7338,42,1093,4,99350,739,49772
2951,2018-10-30T23:00:00,1723,82,1556,4,59765,807,50351
2952,2018-10-31T00:00:00,804,69,1290,4,67551,2974,13616
2953,2018-10-31T01:00:00,5840,57,1109,4,286875,2519,1718
2954,2018-10-31T02:00:00,7892,27,1083,4,148918,2924,46644
2955,2018-10-31T03:00:00,3156,79,1889,4,76570,2344,18982
2956,2018-10-31T04:00:00,2203,40,1076,4,284300,1114,33446
2957,2018-10-31T05:00:00,6185,69,1407,4,117322,1180,29142
2958,2018-10-31T06:00:00,223,29,1924,4,208751,92,27049
2959,2018-10-31T07:00:00,3120,7,1454,4,192236,1201,56789
2960,2018-10-31T08:00:00,8837,80,546,4,55910,1878,23847
2961,2018-10-31T09:00:00,7895,98,275,4,287257,945,45782
2962,2018-10-31T10:00:00,9572,21,1594,4,292403,1949,31275
2963,2018-10-31T11:00:00,3135,16,314,4,141285,241,5557
2964,2018-10-31T12:00:00,6117,33,1623,4,94733,1554,13373
2965,2018-10-31T13:00:00,569,7,384,4,203979,1240,17065
2966,2018-10-31T14:00:00,2425,21,1319,4,165823,2450,18707
2967,2018-10-31T15:00:00,9268,13,1168,4,187310,1748,35070
2968,2018-10-31T16:00:00,8353,33,1806,4,83007,1798,35379
2969,2018-10-31T17:00:00,3025,43,675,4,295105,2352,5797
2970,2018-10-31T18:00:00,6962,76,165,4,85751,2264,43778
2971,2018-10-31T19:00:00,4103,98,1092,4,141334,229,10784
2972,2018-10-31T20:00:00,7578,79,1405,4,1166,2330,19069
2973,2018-10-31T21:00:00,98,33,1943,4,64007,662,42104
2974,2018-10-31T22:00:00,1462,63,1219,4,157554,2778,43259
2975,2018-10-31T23:00:00,1807,45,469,4,100896,2540,51524

In [43]:
data = [go.Bar(
            x = dataset["base_timestamp"],
            y = dataset["n_far"]
    )]
py.iplot(data, filename = 'tempo X n_far')